h5py==2.8.0
numexpr==2.6.5
autograd==1.2
rpy2==2.8.0
sympy==1.2
Cartopy==0.16.0
Jinja2==2.8
scipy==1.1.0
dill==0.2.8.2
matplotlib==2.2.2
pymanopt==0.2.3
numpy==1.15.0
coloredlogs==10.0
vispy==0.5.3
Pillow==5.2.0
pyDOE==0.3.8
scikit_learn==0.19.2
