Jinja2==2.8
matplotlib==2.2.2
dill==0.2.8.2
numpy==1.14.5
scipy==1.1.0
Cartopy==0.16.0
rpy2==2.8.0
Pillow==5.2.0
h5py==2.8.0
numexpr==2.6.5
pyDOE==0.3.8
scikit_learn==0.19.2
sympy==1.2
theano==1.0.2
vispy==0.5.3
